<footer class="page-footer cyan darken-4">
    <div class="footer-copyright">
        <div class="container center-align">
            Alex Trilling © 2018
            <a class="grey-text text-lighten-4 right"></a>
        </div>
    </div>
</footer>