 <nav class = "cyan darken-4">
    <div class="nav-wrapper">
      <a id = "nameLogo" class="brand-logo center">AT</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Alex Trilling</a></li>
        <li><a href="badges.html">Github</a></li>
        <li><a href="collapsible.html">LinkedIn</a></li>
      </ul>
    </div>
  </nav>
