 <nav class = "cyan darken-4">
    <div class="nav-wrapper">
      <a id = "nameLogo" class="brand-logo center">AT</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Alex Trilling</a></li>
        </ul>
      <ul id="nav-mobile2" class="right">
        <li><a target="_blank"  href="https://github.com/Atrill90">Github</a></li>
        <li><a target="_blank"  href="https://www.linkedin.com/in/alex-trilling/">LinkedIn</a></li>
      </ul>
    </div>
  </nav>
