<nav class="cyan darken-4">
  <div class="nav-wrapper">
    <a id="nameLogo" class="brand-logo center">AT</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li id="myName">
        <a href="/">ALEX TRILLING
    </ul>
    <ul id="nav-mobile2" class="right">
      <li>
        <a target="_blank" class="tooltipped" data-position="bottom" data-tooltip="See the Code" href="https://github.com/Atrill90">
          <i class="small fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a target="_blank" class="tooltipped" data-position="bottom" data-tooltip="Connect with Me" href="https://www.linkedin.com/in/alex-trilling/">
          <i class="small fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a class="tooltipped" data-position="bottom" data-tooltip="Contact Me" href="mailto:atrill90@gmail.com?Subject=Your Message Here">
          <i class="small far fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>