{{!-- <div class="row">  
      <div class="col s6 offset-s3"><span><h1>ALEX TRILLING</h1></span></div>
</div>
<div class="row">
    <img class = "responsive-img" src="" alt="">
</div>
<div class="row">
    <h4>Full-stack Javascript developer who enjoys creating dynamic web applications</h4>
</div> --}}