<div class="row center-align ">  
    <div class="col m4 s12 center-align offset-m4 pt-3">
      <div class="card-panel cyan darken-2 ">
        <span class="white-text"><p class = "descriptionText">Full-stack Javascript developer who enjoys creating dynamic web applications.</p>
        </span>
      </div>
    </div>
  </div>
</div>
