<div class="container" id="skillContainer">
    <div class="row skillTitle">
        <h4>Skills</h4>
    </div>
    <div class="row">
        <div class="col s4 center-align  ">
            <img class="skillIcon tooltipped" data-position="bottom" data-tooltip="jQuery" src="/img/jquery.gif" alt="node"> </div>
        <div class="col s4 center-align ">
            <img class="skillIcon tooltipped" data-position="bottom" data-tooltip="React" src="/img/react.png" alt="node"> </div>
        <div class="col s4 center-align mb-3 ">
            <img class="skillIcon tooltipped" data-position="bottom" data-tooltip="MongoDB" src="/img/mongo.png" alt="node"> </div>
    </div>
    <div class="row mb-4">
        <div class="col s4 center-align  ">
            <img class="skillIcon tooltipped" data-position="bottom" data-tooltip="HTML" src="/img/html.png" alt="node"> </div>
        <div class="col s4 center-align ">
            <img class="skillIcon tooltipped"  data-position="bottom" data-tooltip="Javascript" src="/img/js.gif" alt="node"> </div>
        <div class="col s4 center-align  ">
            <img class="skillIcon tooltipped" data-position="bottom" data-tooltip="CSS" src="/img/css.gif" alt="node"> </div>
    </div>
    <div class="row">
        <div class="col s4 center-align  ">
            <img class="skillIcon tooltipped" id= "mySQLPic" data-position="bottom" data-tooltip="MySQL" src="/img/mysql.png" alt="node"> </div>
        <div class="col s4 center-align ">
            <img class="skillIcon tooltipped" id= "materialize" data-position="bottom" data-tooltip="Materialize" src="/img/materialize.png" alt="node"> </div>
        <div class="col s4 center-align mb-3 ">
            <img class="skillIcon tooltipped" id= "nodePic" data-position="bottom" data-tooltip="Node JS" src="/img/node.png" alt="node"> </div>
    </div>