<div class="container" id="skillContainer">
    <div class="row skillTitle">
        <h4>Skills</h4>
    </div>
    <div class="row">
        <div class="col s4 center-align  ">
            <img class="skillIcon" src="/img/node.png" alt="node"> </div>
        <div class="col s4 center-align ">
            <img class="skillIcon" src="/img/react.png" alt="node"> </div>
        <div class="col s4 center-align mb-3 ">
            <img class="skillIcon" src="/img/mongo.png" alt="node"> </div>
    </div>     
     <div class="row">
        <div class="col s4 center-align  ">
            <img class="skillIcon" src="/img/html.png" alt="node"> </div>
        <div class="col s4 center-align ">
            <img class="skillIcon" src="/img/js.gif" alt="node"> </div>
        <div class="col s4 center-align mb-3 ">
            <img class="skillIcon" src="/img/css.gif" alt="node"> </div>
    </div>        