<div class="container">
    <div class="row" id = "projectHeader"><h4>Projects</h4></div>
    <div class="row mt-3" id="projectArea">
            {{#each projects}}
            {{> projects}}
            {{/each}}
    </div>
    <div class="row mt-3"></div>


    </div>
</div>