<div class="container">
    <div class="row">
        <div class="col s12 m5">
            <div class="card firstCard">
                <div class="card-image">
                    <img class="cardImg" src="../img/spotsPage.png">

                </div>
                <div class="card-content">
                    <p>Study Spot is a web application used to assist students in finding the perfect study environment along
                        with exploring new ones </p>
                </div>
                <div class="card-action">
                    <a class="cyan darken-4 btn ml-3" href="#">Live Site</a>
                    
                    <a class="cyan darken-4 btn ml-3" href="#">Git Repo</a>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card secondCard">
                <div class="card-image">
                    <img class="cardImg" src="../img/lilLibsProf.png">

                </div>
                <div class="card-content">
                    <p>Study Spot is a web application used to assist students in finding the perfect study environment along
                        with exploring new ones </p>
                </div>
                <div class="card-action">
                    <a class="cyan darken-4 btn" href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>


</div>